<div class="row">
  <div class="col-12">
    <div class="row mb-2">
      <div class="col-2">
        {{ $t('journey.viewMode') }}
      </div>
      <div class="col-2">
        <mode-selection :mode="blockMode" @change-mode="changeMode" />
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <div>
          {{ $t('journey.lived') }}
          {{ livedTimes }}/{{ totalTimes }}
          {{ $t(`modeSelection.${blockMode}`) }}
        </div>
        <div v-if="lifePercent">
          {{ $t('journey.youPast') }}
          {{ lifePercent }}%
          {{ $t('journey.life') }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div v-if="Object.keys(blocks).length">
          <div v-for="(item, index) in blocks" :key="`journey-${index}`">
            <block :block="item"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>