.lj-nav {

}

.auth-info {
  border:none;
  padding: 10px;
  .auth-name {
    color: #FFF;
  }
}

.option {
  a {
    font-weight: 300;
    font-size: 12px;
  }
  button {
    padding: 0;
    box-shadow: none;
    font-size: 12px;
    font-weight: 300;
    color: #FFF;
  }
  .dropdown-toggle::after {
    display: none;
  }
}