.block {
  display: inline;
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 1px;
  margin-bottom: 1px;
  background: #eee;
  text-align: center;
}
.block.past {
  background: #CCC;
}
.block:hover {
  outline: 1px solid #33b5e5;
}
.block.selected {
  outline: 1px solid #ff3547;
}